body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header Section */

.header {
    display: flex;
    background: #1F2937;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    padding: 8px;
    gap: 16px;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 16px;
}

/* Hero Section */

.hero {
    display: flex;
    background: #1F2937;
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.hero-title {
    display: flex;
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 220px;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.hero-paragraph {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    width: 400px;
    margin-left: 220px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 220px;
}

.hero-image {
    display: flex;
    margin-left: 180px;
    flex-basis: 40%;
}

/* Information Section */

.info {
    display: flex;
    height: 500px;
    text-align: center;
    
    
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    height: 40px;
}

 .info img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    height: min-content;

}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
